.circle{
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    opacity: .1;
    background-color:var(--color-v1);
    /* background-color:black; */
}
.circle1{
  
    position: absolute;
    animation: particle 9s infinite alternate-reverse;
    
}
.circle2{
    animation: particle 10s infinite alternate-reverse; 
}
.circle3{  
    animation: particle 12s infinite alternate-reverse;
    animation-delay: 3s;  
}
.circle4{
  
    position: absolute;
    animation: particle2 8s infinite alternate-reverse;
    
}
.circle5{
    animation: particle2 10s infinite alternate-reverse; 
}
.circle6{  
    animation: particle2 7s infinite alternate-reverse;
    animation-delay: 2s;  
}


@keyframes particle{
    0%{
        transform: scale(7);
        left:10%;
        bottom:10%;
       
    }
    10%{
        transform: scale(7);
        left:20%;
        bottom: 20%;
       
    }
    20%{
        transform: scale(7);
        left:20%;
        bottom: 30%;
        
    }
    30%{
        transform: scale(7);
        left:25%;
        bottom: 35%;
        
    }
    40%{
        transform: scale(7);
        left:35%;
        bottom: 55%;
        
    }
    80%{
        transform: scale(7);
        left:55%;
        bottom: 5%;
        
    }
    100%{
        transform: scale(7);
        left:10%;
        bottom:10%;
       
        
    }
   
   
   

    
    
}
@keyframes particle2{
    0%{
        transform: scale(7);
        left:19%;
        bottom:19%;
       
    }
    10%{
        transform: scale(7);
        left:20%;
        bottom: 60%;
       
    }
    20%{
        transform: scale(7);
        left:50%;
        bottom: 90%;
        
    }
    30%{
        transform: scale(7);
        left:35%;
        bottom: 35%;
        
    }
    40%{
        transform: scale(7);
        left:50%;
        bottom: 85%;
        
    }
    80%{
        transform: scale(7);
        left:5%;
        bottom: 45%;
        
    }
    100%{
        transform: scale(7);
        left:10%;
        bottom:10%;
       
        
    }
   
   
   

    
    
}