.btn{
    padding:1.7rem 3.3rem;
    display: inline-block;

}
.btn p{ 
  text-align: center;
}

.btn--orange{
    padding:1.7rem 3.3rem;
    background-color: #FF5A3C;
    color:white;
    position: relative;
}

.btn--orange::before{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background-color: #fff;
    top:0;
    left:0;
    transition: all .3s;

 
}

.btn--orange:hover::before{
    width: 100%;
}

.btn--orange:hover{
  color:black;  
  background-color:black;
  border:1px solid black;
}
 

.btn--orange:hover p{ 
    position: relative;
    z-index: 5;
}   



.btn--arrow{
    padding:.5rem 0rem;
    display: inline-block;
    color: black;
    font-weight: 600;
}

.btn--arrow--orange{  color: #FF5A3C;}




.label{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px 15px;
    display: inline-block;
    text-transform: uppercase;
}

.label--green{ background-color: #77C720; color:white}
