

/* all heading class */

.h-1{
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
}

@media screen and (max-width:750px){
  .h-1{
    font-size: 4rem;
    font-weight: 900;
  }
}


.h-2{
  font-size: 3.7rem;
  line-height: 1;
}
@media screen and (max-width:750px){
  .h-2{
    font-size: 2.5rem;
  }
}
.h-3{}
.h-4{
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
.h-5{
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 1;
}
.h-6{
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
}



/* all paragraph and description class */
.description{
  font-size: 1.8rem;
  font-weight: 100;
}
p{
  line-height: 1;
}


/* price label css class */

.price-big{
  padding: 1rem 3.5rem;
  display: inline-block;
  color:#00A148;
  font-size: 4rem;

}
.del{
  color:#FFCC00;
}
.price-sm{
  padding: .1rem 0rem;
  display: inline-block;
  color:#00A148;
  font-size: 2.2rem;

}

